<nav class="navbar bg-dark">
  <div class="container">
    <NavLink class="navbar-brand text-light" href="#">🎲GameStore</NavLink>
    <div>
      <button
        style="background-color: transparent; border: 1px solid #f7b200; color: #f7b200; padding: 4px 8px; border-radius: 5px; font-size: 15px; cursor: pointer; transition: background-color 0.3s, color 0.3s;"
        onmouseover="this.style.backgroundColor='#f7b200'; this.style.color='#000';"
        onmouseout="this.style.backgroundColor='#f7b200'; this.style.color='#000';">
        <NavLink class="nav-link" href="#">Home</NavLink>
      </button>
      <button
        style=" margin-left: 10px;background-color: transparent; border: 1px solid #fb5ffc; color: #fb5ffc; padding: 4px 8px; border-radius: 5px; font-size: 15px; cursor: pointer; transition: background-color 0.3s, color 0.3s;"
        onmouseover="this.style.backgroundColor='#fb5ffc'; this.style.color='#000';"
        onmouseout="this.style.backgroundColor='#fb5ffc'; this.style.color='#000';">
        <NavLink class="nav-link" href="#">About</NavLink>
      </button>
      <button
        style=" margin-left: 10px;background-color: transparent; border: 1px solid #7af9ab; color: #7af9ab; padding: 4px 8px; border-radius: 5px; font-size: 15px; cursor: pointer; transition: background-color 0.3s, color 0.3s;"
        onmouseover="this.style.backgroundColor='#7af9ab'; this.style.color='#000';"
        onmouseout="this.style.backgroundColor='#7af9ab'; this.style.color='#000';">
        <NavLink class="nav-link" href="/editGame">New Game</NavLink></button>
    </div>

  </div>
</nav>
